# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="postgresql://bge:password@localhost:5432/board_games_empire?schema=public"

# Server
SERVER_PORT=33333
API_BASE_URL="http://localhost"
THROTTLE_TTL=60
THROTTLE_LIMIT=20

# Test Environment Token (for db cleansing)
TEST_ENV_TOKEN="test_env_token"

# JWT secret
JWT_SECRET="jwt_secret"
JWT_EXPIRATION="1d"
JWT_ALGORITHM="HS256"
JWT_AUDIENCE="board_games_empire"
JWT_ISSUER="board_games_empire"

ENABLE_METRICS=true

# RabbitMQ Configuration
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
RABBITMQ_EXTERNAL_QUEUE="bge-external-game-gateways"
RABBITMQ_EXCHANGE="board-games-empire"
RABBITMQ_ROUTING_KEY="#"
RABBITMQ_PREFETCH_COUNT=10
RABBITMQ_CONNECTION_INIT_WAIT=false

# General Security
BCRYPT_SALT_ROUNDS=10
CORDS_ORIGIN="*"
CORDS_CREDENTIALS=false

# Swagger
SWAGGER_ENABLED=true
SWAGGER_TITLE="Board Games Empire API"
SWAGGER_DESCRIPTION="API for Board Games Empire"
SWAGGER_VERSION="1.0.0"
