# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://bge:password@localhost:5432/board_games_empire?schema=public"

# Server port
PORT=3333


# Test Environment Token (for db cleansing)
TEST_ENV_TOKEN="test_env_token"

# JWT secret
JWT_SECRET="jwt_secret"
