# This is an example of the .env file for the web app.
# You can copy this file to .env and fill in the values.

# The API Server PORT for the web app to connect to.
SERVER_PORT=33333

# The URL of the API server for the mobile app to connect to.
API_URL="http://localhost"
